body{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
}

.header{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#main-logo{
    max-width: 100%;
    margin:auto;
    padding:auto;
}
form{
    text-align: center;
}
input[type=text]{
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
}

.footer{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}
.nav-items-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-items-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}