.header{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}
.footer{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}
.nav-items-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-items-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}